@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #5a5a5a
}

body {
    background: #222222;
    margin: 0;
    font-family: "Poppins";
}

.navbar {
    background: #1a1a1a; 
    padding: 1em;
    .logo {
        text-decoration: none;
        font-weight: bold;
        background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.3em;
        span {
            color: var(--primary-color);
        }
    }
    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        padding: 0em;
        margin: 0em;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.3em;
    }
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}

.guildNumber {
    infodiv {
        text-transform: uppercase;
        font-weight: normal;
        color: gray;
        letter-spacing: 0.15em;
        margin-top: 3em;
    }
}

.left-col {
    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: 0.15em;
    }
    .subhead2 {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: 0.15em;
        margin-top: 3em;
    }
    h1 {
        font-size: 3em;
        line-height: 1em;
        margin-top: .2em;
    }
    .primary-cta{
        text-align: center;
        background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
        color: white;
        text-decoration: none;
        padding: 1em 1em;
        font-size: 1.3em;
        border-radius: 4em;
        font-weight: bold;
        display: inline;
    }
    .join-server-cta {
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: 4em;
        img{
            align-self: center;
            align-self: baseline;
            margin-right: .5em;
            width: 3%;
        }
    }

}

.big-title {
    display: inline-block;
    background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-img {
    margin-top: 2em;
    width: 90%;
}

.info {
    font-size: 1.04em;
    padding: 2.5em;
}

.info-para {
    background: linear-gradient(to right, #8775fc 0%, #ff4e4e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.github-button{
    text-align: center;
}

.github-logo {
    margin-top: .5em;
    width: 3em;
}


nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 33%;
    right: 0;
    top: 0;
    background-color: #131313;
    height: 100vh;
    padding: 1em;
    ul.primary-nav {
        margin-top: 4em;
        li{
            
            a{
                
                background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
    ul.secondary-nav {
        margin-top: 0em;
        li{
            
            a{
                
                background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    margin-bottom: 1em;
    cursor: pointer;
}

